<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- fontawesome icons -->
    <script src="https://kit.fontawesome.com/904d8ba454.js" crossorigin="anonymous"></script>

    <!-- bootstrap css -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <!-- https://favicon.io/emoji-favicons/money-mouth-face/ -->
    <link href="/static/favicon.ico" rel="icon" />

    <!-- custom css, must be in a folder static/css for flask to function!! -->
    <link rel="stylesheet" href="/static/css/style.css" />

    <title>Bookster50: {% block title %}{% endblock %}</title>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/"><i class="fas fa-book"></i> Bookster50</a>
        <ul class="navbar-nav">
          {% if not user %}
          <li class="nav-item">
            <a class="nav-link" href="/login"><i class="fas fa-user"></i> Log in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register"><i class="fas fa-pencil-alt"></i> Register</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link">Welcome {{ user }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/"><i class="fas fa-search"></i> Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt"></i> Log out</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <!-- flash message -->
    {% with messages = get_flashed_messages(with_categories=True) %} {% if messages %} {% for message in messages %}
    <header>
      <div class="alert alert-{{ message[0] }} border text-center mb-0" role="alert">
        {{ message[1] }}
      </div>
    </header>
    {% endfor %}{% endif %} {% endwith %}

    <!-- main block -->
    {% block main %}{% endblock %}

    <!-- Footer -->
    <footer id="main-footer" class="text-center py-2">
      <div class="row">
        <div class="col">
          <p>Copyright &copy; <span id="year"></span> Bookster50</p>
          <hr />
        </div>
      </div>
    </footer>

    <!-- jquerry -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>

    <!-- popper js -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>

    <!-- bootstrap css -->
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <script>
      // get current year for copyright. acces with <span id="year"></span>
      $('#year').text(new Date().getFullYear());
    </script>
  </body>
</html>
